body{
  font-family: 'Langar', cursive;
  background-color: #faf0e6;
  text-align: center;
  border: 40px solid #a9a9a9;
  border-top: 0px;
  margin: 0px;
}
p{
  padding-left: 10%;
  padding-right: 10%;
}

form{
  font-size: 1.5em;
  margin-bottom: 5px;
}

#sub{
  background-color: #FF9F1C;
}
#submit{
  background-color: blue;
}
